$zindex--header-title-container: 10;
$zindex--main-navigation: 15;

.compass {
  position: fixed;
  top: -40px;
  left: -40px;
  width: 100px;
  height: 100px;
  @include animation(spin, $duration: 60s);

  @include screen-sm {
    top: -100px;
    left: -100px;
    width: 300px;
    height: 300px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex--header;
  display: flex;
  padding: 1rem;
  @include animation(fadeIn, $duration: 2s, $iteration-count: 1);
}

// TITLE
.header__title__container {
  flex: 1;
  height: 50px;
  z-index: $zindex--header-title-container;
}

.header__title__backdrop,
.header__nav__backdrop {
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: rgba($color: $black, $alpha: 0.7);
  }
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;

  &__firstname,
  &__lastname {
    width: 14px;
    overflow: hidden;
    display: inline-block;
    transition: width 0.4s ease-in, text-shadow 0.2s ease-out,
      color 0.2s ease-out;
  }

  &__firstname {
    width: 12px;
  }

  &__lastname {
    width: 15px;
    font-weight: bold;
  }

  &__arrow {
    margin: 0 0 0 0.3rem;
    transition: text-shadow 0.2s ease-out, color 0.2s ease-out;
    @include animation(swing);
  }

  @media (min-width: $screen-md) {
    &:hover {
      color: $primary-color;
      text-shadow: 0 0 4px rgba($color: $primary-color, $alpha: 1);
    }
  }

  &.active {
    .header__title__firstname {
      width: 70px;
    }

    .header__title__lastname {
      width: 80px;
    }

    + .header__title__subtitle {
      height: 20px;
    }
  }
}

// SUBTITLE
.header__title__subtitle {
  color: $white;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in;
}

// SOCIAL
.header__social__container {
  position: fixed;
  z-index: -1;

  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 2px solid $white;
  top: -200px;
  left: -200px;
  transform: scale(0);

  &.iddle {
    @include animation(
      socialBlockAnimationOut,
      $duration: 0.6s,
      $iteration-count: 1,
      $timing-function: ease-in
    );
  }

  &.active {
    opacity: 1;
    transform: scale(1);
    @include animation(
      socialBlockAnimationIn,
      $duration: 0.6s,
      $iteration-count: 1,
      $timing-function: ease-in
    );
  }
}

.header__social__list {
  position: absolute;
  bottom: 20px;
  right: 160px;
}

.header__social__item {
  width: 24px;
  margin: 0 0 0.5rem;

  &:hover {
    svg {
      fill: #3c3c33;
    }
  }
  svg {
    fill: $white;
    transition: 0.2s ease-in;
  }
}

// MAIN NAV
.main-navigation {
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  text-align: right;
  z-index: $zindex--main-navigation;

  &__list {
    height: 0;
    padding: 1rem 0 0;

    &.active {
      height: auto;
      .main-navigation__item {
        transform: translateX(0);
        &:nth-child(2) {
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          transition-delay: 0.2s;
        }
        &:nth-child(4) {
          transition-delay: 0.3s;
        }
        &:nth-child(5) {
          transition-delay: 0.4s;
        }
        &:nth-child(6) {
          transition-delay: 0.5s;
        }
        &:nth-child(7) {
          transition-delay: 0.6s;
        }
      }
    }
  }

  &__item {
    padding: 0.5rem 0;
    transform: translateX(200%);
    transition: 0.4s ease-in;
    font-size: 1rem;

    // @media (min-width: $screen-md) {
    //   font-size: 1.5rem;
    // }

    .link {
      color: $white;
      transition: 0.2s ease-in;
      &:hover {
        color: $primary-color;
        margin-right: 0.5rem;
      }
    }
    &:hover {
      .link {
        color: $primary-blue;
        margin-right: 0.5rem;
      }
    }
  }
}

.open-btn {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-end;
  height: 30px;
  padding: 0.3rem;
  background: transparent;
  cursor: pointer;

  span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 10px;
    background: $white;
    transition: 0.5s;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;

    &:first-child {
      transform-origin: 0% 0%;
    }
  }

  &.open {
    span {
      &:first-child {
        transform: rotate(45deg) translate(2px, -6px);
      }

      &:nth-child(2) {
        opacity: 0;
        transform: scale(0.2);
      }

      &:last-child {
        transform: rotate(-45deg) translate(1px, 3px);
      }
    }
  }
}

.btn-ask-notification,
.btn-install {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;
}
