.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: $zindex--header;
  display: flex;
  padding: 1rem;
}

// TITLE
.header__title__container {
  flex: 1;
  height: 50px;
}

.header__title__backdrop,
.header__nav__backdrop {
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
}
.header__nav__backdrop {
  &.active {
    background: rgba($color: $black, $alpha: 0.7);
  }
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  font-size: 1.3rem;
  background-color: transparent;
  cursor: pointer;

  &__firstname,
  &__lastname {
    width: 14px;
    overflow: hidden;
    display: inline-block;
    transition: width 0.4s ease-in, text-shadow 0.2s ease-out,
      color 0.2s ease-out;
  }

  &__firstname {
    width: 12px;
  }

  &__lastname {
    width: 15px;
    font-weight: bold;
  }

  &__arrow {
    margin: 0 0 0 0.3rem;
    animation: swing 2s linear infinite;

    @keyframes swing {
      0% {
        transform: translateX(-2px);
      }
      50% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(-2px);
      }
    }
  }

  @media (min-width: $screen-md) {
    &:hover {
      color: $primary-color;
      text-shadow: 0 0 4px rgba($color: $primary-color, $alpha: 1);
    }
  }

  &.active {
    .header__title__firstname {
      width: 70px;
    }

    .header__title__lastname {
      width: 80px;
    }

    + .header__title__subtitle {
      height: 20px;
    }
  }
}

// SUBTITLE
.header__title__subtitle {
  color: $white;
  height: 0;
  overflow: hidden;
  transition: 0.4s ease-in;
}

// SOCIAL
.header__social__container {
  position: fixed;
  z-index: -1;

  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  border: 2px solid $white;
  top: -200px;
  left: -200px;
  transform: scale(0);

  &.iddle {
    animation: socialBlockAnimationOut 0.6s ease-in;
  }

  &.active {
    opacity: 1;
    animation: socialBlockAnimationIn 0.6s ease-in;
    transform: scale(1);
  }

  @keyframes socialBlockAnimationIn {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1.15);
    }
    85% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes socialBlockAnimationOut {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(0);
    }
  }
}

.header__social__list {
  position: absolute;
  bottom: 20px;
  right: 160px;
}

.header__social__item {
  width: 24px;
  margin: 0 0 0.5rem;

  &:hover {
    svg {
      fill: #2a6ad1;
    }
  }
  svg {
    fill: $white;
    transition: 0.2s ease-in;
  }
}

// MAIN NAV
.main-navigation {
  display: flex;
  // justify-content: center;
  align-items: flex-end;
  flex-flow: column;
  text-align: right;

  &__list {
    // padding: 0 0.5rem 0 0;
    height: 0;
    // overflow: hidden;

    &.active {
      height: auto;
      .main-navigation__item {
        transform: translateX(0);
      }
    }
  }

  &__item {
    padding: 0.5rem 0;
    transform: translateX(200%);
    transition: 0.4s ease-in;
    font-size: 1.5rem;

    .link {
      color: $white;
    }

    &:nth-child(1) {
      // transition-delay: 1s;
    }
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
    &:nth-child(3) {
      transition-delay: 0.2s;
    }
    &:nth-child(4) {
      transition-delay: 0.3s;
    }
    &:nth-child(5) {
      transition-delay: 0.4s;
    }
    &:nth-child(6) {
      transition-delay: 0.5s;
    }
  }
}

.nav-btn {
  background: transparent;
  padding: 0.5rem 0 0.5rem 1rem;
  color: $white;
  cursor: pointer;
  font-size: 1.5rem;
  // margin: 0 0 1rem;

  .icon {
    display: none;

    &.active {
      display: block;
    }
  }
}

// @keyframes socialBlockAnimationHide {
//   0% {
//     transform: scale(1);
//   }
//   15% {
//     transform: scale(0.95);
//   }
//   30% {
//     transform: scale(1.15);
//   }
//   100% {
//     transform: scale(0);
//   }
// }
