.loader-contact {
  display: flex;
  flex-flow: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 1;
  transition: 1s ease;

  .circular-loader {
    @include animation(spin);
  }

  .loader-path {
    opacity: 1;
    stroke-dasharray: 125;
    stroke-dashoffset: 125;
    stroke-linecap: round;
    transition: 1s ease;
    @include animation(dash);
  }
}
