<section class="about" id="about">
  <div class="section-title">About <span>Me</span></div>
  <div class="section-content">
    <p>Web Developer...but not only!</p>
  </div>

  <div class="section-main">
    <div class="target" id="target">
      <div class="skill">
        <div class="svg-container">
          <div class="capsule capsule-one">
            <button type="button" class="btn btn-arrow">
              <i class="fas fa-chevron-left icon"></i>
            </button>
            <div class="content">Surfer</div>
          </div>

          <!-- LINES -->
          <!-- Mobile -->
          <svg
            class="svg-line svg-line-one svg-line--mobile desktop-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="66.74"
            height="119.923"
            viewBox="0 0 66.74 119.923"
          >
            <path
              class="path show"
              d="M382,3017l64.54-34.056V2898.4"
              transform="translate(-381.3 -2898.403)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>

          <!-- Desktop -->
          <svg
            class="svg-line svg-line-one svg-line--desktop mobile-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="163.11"
            height="59.11"
            viewBox="0 0 163.11 59.11"
          >
            <path
              class="path"
              d="M-1164.5,3092l-68.5-55.5h-91"
              transform="translate(1325.5 -3035)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>
        </div>
        <div class="dot dot-one"></div>
      </div>
      <div class="skill">
        <div class="svg-container">
          <div class="capsule capsule-two">
            <button type="button" class="btn btn-arrow">
              <i class="fas fa-chevron-left icon"></i>
            </button>
            <div class="content">Capoeira</div>
          </div>

          <!-- LINES -->
          <!-- Mobile -->
          <svg
            class="svg-line svg-line-two svg-line--mobile desktop-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="38.22"
            height="90.393"
            viewBox="0 0 38.22 90.393"
          >
            <path
              class="path"
              d="M432,3086l35.54,45.213v44.253"
              transform="translate(-430.821 -3085.073)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>

          <!-- Desktop -->
          <svg
            class="svg-line svg-line-two svg-line--desktop mobile-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="200.873"
            height="59.053"
            viewBox="0 0 200.873 59.053"
          >
            <path
              class="path"
              d="M815,3052H693.667L615,2995.667"
              transform="translate(-614.127 -2994.447)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>
        </div>
        <div class="dot dot-two"></div>
      </div>
      <div class="skill">
        <div class="svg-container">
          <div class="capsule capsule-three">
            <div class="content">
              <a href="./pages/travel.html">Traveler</a>
            </div>
            <button type="button" class="btn btn-arrow">
              <i class="fas fa-chevron-right icon"></i>
            </button>
          </div>

          <!-- LINES -->
          <!-- Mobile -->
          <svg
            class="svg-line svg-line-three svg-line--mobile desktop-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="52.263"
            height="70.694"
            viewBox="0 0 52.263 70.694"
          >
            <path
              class="path"
              d="M787,3044l-49.942-32.662v-36.777"
              transform="translate(-735.558 -2974.561)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>

          <!-- Desktop -->
          <svg
            class="svg-line svg-line-three svg-line--desktop mobile-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="186.386"
            height="27.95"
            viewBox="0 0 186.386 27.95"
          >
            <path
              class="path"
              d="M382,3017l94-25h92"
              transform="translate(-381.614 -2990.5)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>
        </div>
        <div class="dot dot-three"></div>
      </div>
      <div class="skill">
        <div class="svg-container">
          <div class="capsule capsule-four">
            <div class="content">DIY</div>
            <button type="button" class="btn btn-arrow">
              <i class="fas fa-chevron-right icon"></i>
            </button>
          </div>

          <!-- SVG LINES -->
          <!-- Mobile -->
          <svg
            class="svg-line svg-line-four svg-line--mobile desktop-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="59.944"
            height="147.71"
            viewBox="0 0 59.944 147.71"
          >
            <path
              class="path"
              d="M815,3052l-57.428,52.8v93.807"
              transform="translate(-756.072 -3050.896)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>

          <!-- Desktop -->
          <svg
            class="svg-line svg-line-four svg-line--desktop mobile-hidden"
            xmlns="http://www.w3.org/2000/svg"
            width="139.485"
            height="48.757"
            viewBox="0 0 139.485 48.757"
          >
            <path
              class="path"
              d="M432,3086l70.667,46h68"
              transform="translate(-431.182 -3084.743)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="3"
            />
          </svg>
        </div>
        <div class="dot dot-four"></div>
      </div>
    </div>
  </div>
</section>
