<section class="hero" id="hero">
  <!-- MOBILE -->
  <img
    loading="lazy"
    src="./img/pics/rail-road-down-center.jpg"
    alt="rail road hawaii"
    class="hero__bg-img hero__bg-img--mobile desktop-hidden active"
  />
  <img
    loading="lazy"
    src="./img/pics/hourtin-sunset.jpg"
    alt="hourtin sunset"
    class="hero__bg-img hero__bg-img--mobile desktop-hidden"
  />
  <img
    loading="lazy"
    src="./img/pics/bx-rooftop.jpg"
    alt="bordeaux rooftops"
    class="hero__bg-img hero__bg-img--mobile desktop-hidden"
  />

  <!-- DESKTOP -->
  <img
    loading="lazy"
    src="./img/pics/maunakea.jpg"
    alt="maunakea"
    class="hero__bg-img hero__bg-img--desktop mobile-hidden active"
  />
  <img
    loading="lazy"
    src="./img/pics/kalalau-beach.jpg"
    alt="kalalau beach"
    class="hero__bg-img hero__bg-img--desktop mobile-hidden rotate-y-180"
  />
  <div class="welcome-text hideable">
    <div class="welcome-text--logo"></div>
    <div class="welcome-text--content">
      <p>Web Developement</p>
      <p>& Design</p>
      <!-- <small>...and a few more things!</small> -->
    </div>
  </div>
  <button type="button" class="btn text-action" id="text-action">
    Hide text dslmfkjqsdfmlkjf
  </button>
  <!-- <div class="scroll-svg__container">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="57" viewBox="0 0 27 57">
      <g transform="translate(-917 -882)">
        <circle class="scroll-btn" cx="7.5" cy="7.5" r="7.5" transform="translate(923 888)" fill="#fff" />
        <g transform="translate(917 882)" fill="none" stroke="#fff" stroke-width="3">
          <rect width="27" height="57" rx="13.5" stroke="none" />
          <rect x="1.5" y="1.5" width="24" height="54" rx="12" fill="none" />
        </g>
      </g>
    </svg>
  </div> -->
</section>
