<section class="work" id="work">
  <div class="section-title">My <span>Work</span></div>
  <div class="section-main">
    <div class="portfolio">
      <div class="project">
        <div class="img-container">
          <img
            loading="lazy"
            class="img"
            alt="belaetcome"
            src="./img/pics/belaetcome.png"
            width="100"
            height="100"
          />
        </div>
        <div class="panel">
          <h2>Compagnie Bela & Côme</h2>
          <p class="detail">
            Site web de la
            <strong>Compagnie de danse Bela & Côme</strong> basée à Bordeaux,
            France.
          </p>
          <p class="detail">
            <strong>One Page design</strong> avec sections description, galerie
            photos, informations sur les projets en cours et formulaire de
            contact.
          </p>
          <a href="https://belaetcome.com" target="blank" class="btn btn-visit"
            >Visit</a
          >
        </div>
      </div>
      <div class="project">
        <div class="img-container">
          <img
            loading="lazy"
            class="img"
            alt="ics france"
            src="./img/pics/ics.png"
            width="100"
            height="100"
          />
        </div>
        <div class="panel">
          <h2>
            International Capoeira<br />
            School
          </h2>
          <p class="detail">
            Web App de l'association
            <strong>International Capoeira School</strong> à Colombes.
          </p>
          <p class="detail">
            <strong>Angular Single Page Application</strong> avec pages
            informations de cours, formulaires d'inscription en ligne,
            formulaire de contact et backoffice pour la gestion des adhérents.
          </p>
          <a href="https://icsfrance.fr" target="blank" class="btn btn-visit"
            >Visit</a
          >
        </div>
      </div>
      <div class="project">
        <div class="img-container">
          <img
            loading="lazy"
            class="img"
            alt="la cle du quai"
            src="./img/pics/lacleduquai.png"
            srcset="./img/pics/lacleduquai.png"
            sizes="(max-width: 1080px) 400px"
          />
        </div>
        <div class="panel">
          <h2>La Cle Du Quai</h2>
          <p class="detail">
            Web App Ionic Angular
            <strong>du café associatif La Clé Du Quai</strong> à Bordeaux
          </p>
          <p class="detail">
            Commandes et <strong>paiements en ligne</strong>, réservation de
            salles et d'espaces de coworking, consultation des nouveautés et
            évènements.
          </p>
          <a
            href="https://www.lacleduquai.com"
            target="blank"
            class="btn btn-visit"
            >Visit</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
