%section-title {
  font-size: 4rem;
  color: $white;
  font-family: $fontMontserrat;
  text-transform: uppercase;
  text-align: center;
  font-weight: $fontWeightThin;
  padding: 2rem 0;

  span {
    font-weight: $fontWeightMedium;
  }
}
