// @import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
// @import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

///////////
// COLORS
///////////

$white: #fff;
$black: #000;

$mineshaft: #2a2a2a;
$tundora: #444;
$dove-gray: #707070;

// $fountain-blue: #5dbeba;
$fountain-blue: lightblue;
$chambray: #3c598e;

$school-bus-yellow: #ffde00;

$red: #ff0000;

// VARIABLES
$primary-color: $fountain-blue;
$secondary-color: $school-bus-yellow;

$dark-gray: $mineshaft;
$light-gray: $dove-gray;

$danger: $red;

$primary-blue: $chambray;

//////////
// FONTS
//////////

// Roboto
$fontRoboto: 'Roboto', sans-serif;
$fontPoppins: 'Poppins', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;

////////////////
// FONT SIZE
////////////////

$font-size-lg: 1.2rem;
$font-size-md: 1rem;
$font-size-sm: 0.8rem;
$font-size-xs: 0.6rem;

////////////////
// FONT WEIGHT
////////////////

$font-weight-thinest: 200;
$font-weight-thin: 300;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-semi: 600;
$font-weight-bold: 700;

/////////////////
// Z-INDEX
/////////////////
$zindex--target: 10;
$zindex--capsule: 20;
$zindex--header: 50;
$zindex--add-post-btn: 40;
$zindex--modal-backdrop: 1000;
$zindex--modal: 1100;

/////////////////
// SCREEN SIZES
/////////////////

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
